<form method="POST" action="/index2.php">
    <input type="hidden" name="action" value="{$formAction}" />
    <input type="hidden" name="workoutId" value="{$workoutId}" />
    Workout Name: <input type="text" name="workoutName" value="{$workoutName}" /><br />
    Workout Location: <input type="text" name="workoutLocation" value="{$workoutLocation}" /> (<em>website address, book name</em>)<br />
    Workout Reference: <input type="text" name="workoutReference" value="{$workoutReference}" /> (<em>website section, book page number</em>)<br />
    <input type="submit" value="Submit Changes" />
</form>
